*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'segoe UI', sans-serif;
}

.card{
    width: 75%;
    box-shadow: 32px 16px 25px 6px rgba(0,0,0,0.65);
    -webkit-box-shadow: 32px 16px 25px 6px rgba(0,0,0,0.65);
    -moz-box-shadow: 32px 16px 25px 6px rgba(0,0,0,0.65);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
}



.card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
#meu_A {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;

    
}
#paragrafo{
    color: rgb(87, 85, 85);
}
#span{
    font-weight: 400;
    color: rgb(87, 85, 85);
    padding: 15px;
}