/* Define estilos padrão para todos os elementos HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o estilo de fundo para o corpo da página */
body {
    background: #3d4152;
    font-family: 'Quicksand', sans-serif;
}

/* Estilos para a barra de navegação */
.navegacao {
    position: fixed; /* Fixa a barra de navegação à janela do navegador */
    inset: 20px 0 20px 20px; /* Define margens internas */
    width: 75px; /* Define a largura da barra de navegação */
    background: #fff; /* Define a cor de fundo da barra de navegação */
    transition: 0.5s; /* Adiciona uma transição suave de 0.5 segundos */
    display: flex; /* Define o modelo de exibição flexível */
    justify-content: center; /* Alinha os elementos horizontalmente ao centro */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
}

/* Estilos para a barra de navegação quando está aberta */
.navegacao.open {
    width: 250px; /* Amplia a largura quando a barra de navegação está aberta */
}

/* Estilos para o botão de alternância da barra de navegação */
.navegacao .alternar_menu {
    position: absolute; /* Define a posição absoluta */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.25); /* Adiciona uma borda na parte inferior */
    cursor:  pointer; /* Altera o cursor para indicar que é clicável */
    display: flex; /* Define o modelo de exibição flexível */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    justify-content: flex-start ; /* Alinha os elementos à esquerda */
    padding: 0 23px; /* Adiciona preenchimento */
}

/* Estilos para o ícone de alternância do botão de menu */
.navegacao .alternar_menu::before {
    content: ''; /* Adiciona um conteúdo vazio para criar elementos de linha */
    position: absolute; /* Define a posição absoluta */
    width: 30px;
    height: 2px;
    background: #333; /* Define a cor de fundo */
    transform: translateY(-8px); /* Move o elemento para cima */
    transition: 0.5s; /* Adiciona uma transição suave */
}

/* Estilos para o ícone de alternância quando a barra de navegação está aberta */
.navegacao.open .alternar_menu::before {
    transform: translateY(0px) rotate(45deg); /* Rotaciona o elemento */
}

/* Estilos para a linha horizontal inferior do ícone de alternância */
.navegacao .alternar_menu::after {
    content: ''; /* Adiciona um conteúdo vazio para criar elementos de linha */
    position: absolute; /* Define a posição absoluta */
    width: 30px;
    height: 2px;
    background: #333; /* Define a cor de fundo */
    transform: translateY(8px); /* Move o elemento para baixo */
    transition: 0.5s; /* Adiciona uma transição suave */
    box-shadow:  0 -8px 0 #333; /* Adiciona uma sombra à linha */
}

/* Estilos para a linha horizontal inferior quando a barra de navegação está aberta */
.navegacao.open .alternar_menu::after {
    transform: translateY(0px) rotate(-45deg); /* Rotaciona o elemento */
    box-shadow: 0 0 0 #333; /* Remove a sombra */
}

/* Estilos para a lista de navegação */
.navegacao ul {
    display: flex; /* Define o modelo de exibição flexível para a lista */
    flex-direction: column; /* Define a direção de exibição como coluna */
    gap: 10px; /* Define o espaço entre os elementos */
    width: 100%;
}

/* Estilos para os itens de lista */
.navegacao ul li {
    list-style: none; /* Remove os marcadores de lista */
    position: relative; /* Define a posição relativa */
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s; /* Adiciona uma transição suave */
}

/* Estilos para o item de lista ativo */
.navegacao ul li.ativa {
    transform: translateX(30px); /* Move o item de lista para a direita */
}

/* Estilos para o texto do item de lista */
.navegacao ul li a {
    position: relative; /* Define a posição relativa */
    display: flex; /* Define o modelo de exibição flexível */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    justify-content: flex-start; /* Alinha os elementos à esquerda */
    width: 100px;
    text-align: center;
    text-decoration: none; /* Remove a decoração do link */
}

/* Estilos para o ícone dentro do item de lista */
.navegacao ul li a .icon {
    position: relative; /* Define a posição relativa */
    display: block; /* Define o modelo de exibição como bloco */
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s; /* Adiciona uma transição suave */
    border-radius: 10px; /* Adiciona borda arredondada */
    font-size: 1.75em;
    color: #222; /* Define a cor do ícone */
}

/* Estilos para o ícone quando o item de lista está ativo */
.navegacao ul li.ativa a .icon {
    color: #fff; /* Define a cor do ícone quando ativo */
    background: var(--clr); /* Usa uma variável CSS como cor de fundo */
}

/* Estilos para o efeito de fundo do ícone quando o item de lista está ativo */
.navegacao ul li a .icon::before {
    content: ''; /* Adiciona um conteúdo vazio para criar um elemento de fundo */
    position: absolute; /* Define a posição absoluta */
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr); /* Usa uma variável CSS como cor de fundo */
    filter: blur(8px); /* Aplica um desfoque ao fundo */
    opacity: 0; /* Define a opacidade inicial */
    transition: 0.5s; /* Adiciona uma transição suave */
}

/* Estilos para o efeito de fundo do ícone quando o item de lista está ativo */
.navegacao ul li.ativa a .icon::before {
    opacity: 0.5s; /* Ajusta a opacidade do fundo */
}

/* Estilos para o texto do item de lista */
.navegacao ul li  a .text {
    position: relative; /* Define a posição relativa */
    padding: 0 15px;
    height: 60px;
    display: flex; /* Define o modelo de exibição flexível */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    color: #333; /* Define a cor do texto */
    opacity: 0; /* Define a opacidade inicial */
    visibility: hidden; /* Torna o texto invisível */
    transition: 0.5s; /* Adiciona uma transição suave */
}

/* Estilos para o texto do item de lista quando a barra de navegação está aberta */
.navegacao.open ul li a .text {
    opacity: 1; /* Define a opacidade para tornar o texto visível */
    visibility: visible; /* Torna o texto visível */
}

/* Estilos para o texto do item de lista quando o item está ativo */
.navegacao ul li.ativa a .text {
    color: var(--clr); /* Usa uma variável CSS como cor do texto */
}
